body{
    background-color:#86D8DC;
}
h1{
color: #7966bf;
}
h3{
    color: #7966bf;

}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 30%; 
}
img{
    height: 200px;
}